<form class="" action="/stores/create" method="post">
  <input type="text" name="name" value="">
  <input type="text" name="location" value="">
  <button type="submit" name="button">Add Store</button>
</form>
