<form class="form" action="/stores/create" method="post">
  <div class="form-group">
    <input class="form-contol"  type="text" name="name" value="" placeholder="Name">
    <input class="form-contol" type="text" name="location" value="" placeholder="Location">
  </div>

  <button type="submit" name="button">Add Store</button>
</form>
