<%= @store.name() %>
<%= @store.location() %>


<form class="" action="/stores/<%=@store.id()%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" name="button">Delete</button>
</form>

<a href="/stores/<%=@store.id()%>/edit">Update Store</a>
